.card {
  display: flex;
  flex-direction: column;
  
  padding: 14px;
  width: 200px;
  height: 403px;

  border: 1px solid $border-color;
  border-radius: 5px;

  &__image {
    box-sizing: content-box;
    width: 160px;
    height: 134px;
    margin: 0 auto;
    padding-top: 13px;

    border: 3px solid transparent;

    transition: transform 1s;

    &:hover {
      transform: scale(1.2);
      border-color: $border-color;
    }
  }

  &__title {
    color: $text-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin: 42px 0 5px;
  }

  &__code {
    float: left;
    font-size: 11px;
  }

  &__opinion {
    display: flex;
    justify-content: space-between;
  }

  &__opinion-text {
    margin-top: 16px;
    font-size: 11px;
  }

  &__price {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    vertical-align: text-bottom;
  }

  &__price-text {
    display: inline-block;
    margin-top: 5px;
    font-size: 11px;
  }
  
  &__price-price {
    font-size: 16px;
    font-weight: 500;
  }

  &__button {
    display: block;
    height: 40px;
    margin-top: 20px;
    
    background-color: $active-color;
    border-radius: 5px;
    border: 1px solid $active-color;
    color: #fff;

    transition: color 0.3s, background-color 0.3s;

    &:hover {
      background-color: #fff;
      color: $active-color;
    }
  }

  &__link {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
  }
}
